@import 'utils';

.page-template {
  .main {
    padding-top: 6.4rem;
    padding-bottom: 1rem;
    background: $oc-gray-0;
    min-height: calc(100vh - 3rem);
  }

  button {
    transition: all .15s ease-in;
    background: white;
    border: 1px solid $oc-gray-3;    
    width: 66px;
    height: 30px;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.7rem;
  }
  button:hover {
    color: rgba($oc-blue-6, 0.8);
  }  
  button:focus {
    border: 1px solid $oc-blue-6;
    color: rgba($oc-blue-6, 1);
  }
  button:active {
    border: 1px solid $oc-blue-8;
    color: rgba($oc-blue-8, 1);
  }
  
  button + button {
    margin-left: 0.1rem;
  }
}
